.page__title {
  //font-size: 24pt;   
}

.app_header_title{
  font-size: 8vw;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 0;
}

.app_header_subtitle{
  font-size: 4vw;
  margin: 0;
  margin-left: 50%;
  
}
