#detail {
    visibility: collapse;
    position: fixed; //como no deberia tener scroll
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 25px 25px 0 0;
    border-color: black;
    border-top-style: solid;
    border-width: 1px;
    background-color: #d1cdcd;
    background-color: rgba(203, 219, 237, 0.95);
    border-top: 2px solid rgb(48, 56, 93);

}

.situation {
    position: relative;
    top: 5%;
    left: 10%;
    right: 10%;
    display: flex;
    //height: 30%;
    margin-bottom: 5%;
}

.detail-back-icon{
    width: 80%;
    margin-top: 5%;
    margin-left: 3%;
}

.backArrowContainer{
    width: 10%;
}

.situation-name {
    text-align: center;
    place-self: center;
    vertical-align: middle;
    width: 60%;
}


.situation-likes {
    width: 10%;
}

.situation-likes-number {
    text-align: center;
}

.situation-likes-button {
    text-align: center;
    border-radius: 5px;
}

.description {
    position: relative;
    width: 80%;
    //height: 30%;
    right: 10%;
    left: 10%;
    top: 5%;
    border-top: 1px;
    border-top-style: solid;
    text-align: left;
    display: inline-block;
}

.detail-date{
    text-align: justify;
    font-size: 3.5vw;
    color: rgb(85, 85, 85);
}

.detail-description{
    text-align: justify;
}

.response {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 30%;
    top: 3%;
    font-size: 16px;
    border-top: 1px;
    border-top-style: solid;
    text-align: center;
    display: inline-block;
}

.button {
    position: relative;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    width: 25px;
}