@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './page/index.scss';
@import './nav-bar/index.scss';
@import './header/index.scss';
@import './selector/index.scss';
@import './info/index.scss';
@import './notifications/index.scss';
@import './detail/index.scss';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}