#info{
    visibility: collapse;
}

.global-info{
    display: flex;
}

.info-back-icon{
    width: 8%;
    height: 8%;
    margin-top: 5%;
    margin-left: 3%;
}

.info-text{
    font-size: 10vw;
    margin-top: auto;
    margin-left: 5%;
    margin-bottom: auto;
    width: 55%;
    text-align: center;
}

.imagen-info{
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;

    width: 18%;
    height: 18%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.barra-separadora{
    width: 80%;
    height: 0.2%;
    margin-left: 10%;
    background-color: rgb(75, 75, 75);
}

.rellenado{
    height: 70%;
    width: 80%;
    margin-left: 10%;
}

.descripcion-text{
    height: 8%;
    width: 80%;
    margin-left: 3%;
    font-weight: bold;
}

.descripcion-fill{
    border-radius: 15px;
    height: auto;
    width: auto;
    text-align: left;
    font-size: small;
    padding: 3%;
    border: 1px solid black;
}

.description-fill-container{
    display: flex;
    width: 100%;
    height: 40%;
}

.description-fill{
    font-size: small;
    padding: 3%;
    border: 1px solid black;
    border-radius: 15px;
    resize: none;
    width: 100%;
    background-color: transparent;
}

.espaciado{
    width: 100%;
    height: 5%;
}

.confirmar-button{
    border-radius: 5px;
    height: auto;
    font-size: larger;
    font-weight: bolder;
    background-color: black;
    color: azure;
    //padding: 4%;
    //border: 2px solid black;
}

.confirmar-box{
    width: 30%;
    margin-right: 3%;
    display: flex;
    float: right;
}

.desplegable-info{
    position: absolute;
    border-radius: 25px 25px 0px 0px;
    bottom: 0;
    top: 30%;
    background-color: rgba(203, 219, 237, 0.95);
    border-top: 2px solid rgb(48, 56, 93);
}